.search-banner, .search-results {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9d9d9;

}

.search-banner h2 {
    margin: 0;
}
.search-banner {
    padding: 1rem;
    margin-top: 1rem;
}

.card-view{
    width: 65%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.search-options {
    background-color: white;
    margin: 1rem 1rem 1rem 0;
    padding-bottom: 1rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-control {
    width: 100%;
    padding: 0 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}
.search-results{
    display: flex;
    margin-top: .5rem;
}

.update-search-button {
    font-weight: bold;
    margin-top: 1rem;
    background-color: #008CC8;
}

.update-search-button:hover, .search-page-buttons button:hover {
    background-color: #0877a7;
}
.search-page-buttons {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.search-page-buttons button {
    background-color: #008CC8;
}

.no-results {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}