.individual-comment {
    background-color: white;
    border-radius: 4px;
    min-height: 3em;
    padding: 1rem;
    margin-bottom: 1rem;
}

.individual-comment span {
    margin-left: .5rem;
}

.comment-title {
    display: flex;
    margin-bottom: 1rem;
}

.comment-title h3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.comment-title img {
    max-height: 50px;
    margin-right: .5rem;
}