body.active-modal {
    overflow-y: hidden;
}

.music-upload-file-button, .music-upload-delete-all {
    width: 100%;
    font-size: 15px;
}

.music-upload-delete-all {
    background-color: red;
}

.music-upload-delete-all:hover {
    background-color: darkred;
}

.btn-music-modal {
    padding: 0px 10px;
    margin: auto;
    display: block;
    margin-left: 1rem;
    font-size: 18px;
    height: 2.5rem;
    
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.music-modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 700px;
    min-width: 400px;
}

.music-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-input {
    display:flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.music-modal-message {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    height:25px;

}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}